.lmao {
margin-top: 0;
text-align: center;
background-color: crimson;
font-size: 100px;
width: 100%;
}

.kostkahahahahahasisezabiju {
margin-top: 70px;
text-align: center;
}

.lmaodva {
text-align: center;
background-color: crimson;
position: fixed;
bottom: 0;
width: 100%;
font-size: 30px;

}

.velikost {
margin-top: 20px;
font-size: 20px;
font-weight: bold;
color: rgb(51, 51, 51);
}

.mackatko {
    background-color: crimson;
    border: none;
    color: rgb(51, 51, 51);   
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .hrrrr {
color: rgb(51, 51, 51);

  }

